<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Office management system</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <h1>fil_emp</h1>


    <div class="container">

      <form action="/fil_emp" method="post">
        {% csrf_token %}
          <label for="name">first_name/last_name</label>
          <input type="text" class="form-control" name="name" id="name"  value="{{name}}">
         
          <label for="dept">dept</label>
          <input type="text" class="form-control" name="dept" id="dept"  value="{{dept}}">
         
          <label for="role">role</label>
          <input type="text" class="form-control" name="role" id="role"  value="{{role}}">
         
          
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>